.Sidebar {
    background: $color-background;
    font-family: $font-1;
    height: 100%;
    min-height: $minHeight;
    min-width: 200px;
    border-radius: $borderRadius;
    position: relative;
    display: flex;
    padding: 2rem 1rem;

    ul {
        height: 100%;
        display: grid;
        li {
            padding: 1rem 0 1rem .4rem;
            font-size: 1.3rem;
            position: relative;
            &:hover i {
                transform: translate(3px, 3px);
            }
            
            i {
                position: absolute;
                font-size: 0.95rem;
                transform: translateY(1px);
                transition: .2s ease;
                
            }
            .active {
                color: $color-navbar-active;
            }
            span {
                margin-left: 1.8rem;
                margin-right: 2rem;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .Sidebar {
        display: grid;
        min-height: 50px;
        margin-bottom: .2rem;
        width: 100%;
        padding: .1rem 1rem;
        ul {
            display: flex;
            justify-content: space-between;
            
        }
    }
}

@media screen and (max-width: 500px) {
    .Sidebar {
        ul {
            justify-content: space-around !important;
            
            li {
                padding: 1rem 0 !important;
            }
            span {
                display: none;
            }
            
        }
    }
}