.contact {
    font-size: 1.3rem;
    @include verticalCenter;
    .contactContent {
      
      background: linear-gradient(115deg, $color-background 50%, transparent 115%);
      min-height: $minHeight;
      width: 100%;

      border-radius: $borderRadius;
      padding-top: 20vh;
      text-align: center;

      .title {
        padding-bottom: 5rem;
        color: $color-3;
      }

    }
  }
  @media screen and (max-width: 850px){
    .contactContent {
      margin: 0 !important;
      height: 100vh; 
    }
  }
  @media screen and (max-width:580px){
    .contactContent {
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }